<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>Zero | Registar</title>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <form class="registar" action="/logger" method="post">
        <p class="title">Log in</p>
        <input type="username" id="username" name="username" placeholder="Username" autofocus/>
        <i class="fa fa-user"></i>
        <input type="email" id="email" name="email" placeholder="Email" />
        <i class="fa fa-key"></i>
        <input type="contactos" id="contactos" name="contactos" placeholder="Contacto" />
        <i class="fa fa-key"></i>
        <input type="password" id="password" name="password" placeholder="Palavra-passe" />
        <i class="fa fa-key"></i>



        <div th:if="${erro} != null" th:text="${erro}" class="alert alert-danger" role="alert">
        </div>

        <button>
            <i class="spinner"></i>
            <span class="state">Registar</span>
        </button>
    </form>
    </p>
</div>
<!-- partial -->

</body>
</html>